<div class="card shadow text-center individual_recipe_card align-items-center">
  {% if recipe.image %}
  <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class = "recipe-image"/>
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
    <div
      class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-3"
    >
      <a href="" class="btn favourite-button">
        Favourite <i class="bi bi-heart"></i>
      </a>
      {% if recipe.id %}
      <a href="{% url 'get_recipe' recipe.id %}" class="btn link-button">
        Check it out
      </a>
      {% endif %}
    </div>
  </div>
</div>
