<div class="card shadow text-center individual_recipe_card align-items-center">
  {% if recipe.img %}
  <img src="{{ recipe.img.url }}" alt="{{ recipe.title }}" class = "recipe-image"/>
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
    <div class="row">
        {% for tag in recipe.tags.all %}
            <div class="col-4">
                <p>{{tag.name}}</p>
            </div>
        {% endfor %}
    </div>
    <div
      class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-3"
    >
      <form method="post" action="{% url 'toggle_favourite' recipe.id %}">
        {% csrf_token %}
        {% if user in recipe.favourites.all %}
          <button type="submit" class="btn favourite-button">
            Favourite <i class="bi bi-heart"></i>
          </button>
        {% else %}
          <button type="submit" class="btn favourite-button">
            Unfavourite <i class="bi bi-heart-fill"></i>
          </button>
        {% endif %}
      </form>
      {% if recipe.id %}
      <a href="{% url 'get_recipe' recipe.id %}" class="btn link-button">
        Check it out
      </a>
      {% endif %}
    </div>
  </div>
</div>

