<div class="card shadow text-center individual_recipe_card align-items-center">
  {% if recipe.img %}
  <img
    src="{{ recipe.img.url }}"
    alt="{{ recipe.title }}"
    class="recipe-image"
  />
  {% endif %}

<div class="card-body d-flex flex-column mb-2">
  <div class="d-flex flex-wrap align-items-center justify-content-center mb-3 px-2 gap-2">
    <h5 class="card-title mb-0 flex-grow-1">
        {{ recipe.title }}
    </h5>
    <div class="d-flex flex-wrap gap-2">
    {% if recipe.public != True %}
        <span class="badge followers-exclusive-badge flex-shrink-0">Followers exclusive</span>
    {% endif %}
    {% if showBadge %}
        {% if recipe.public %}
            <span class="badge public-badge flex-shrink-0">Public</span>
        {% endif %}
        {% if recipe.user == user and recipe.id == most_popular %}
        <span class="badge popular-badge flex-shrink-0">Most Popular</span>
        {% endif %}
        {% if recipe.user == user and recipe.id == most_favourite %}
        <span class="badge favourite-badge flex-shrink-0">Most Favourited</span>
        {% endif %}
    {% endif %}
    </div>
  </div>
    <p class="card-text">{{ recipe.description }}</p>
    <div class="d-flex flex-wrap justify-content-center gap-2 mb-2">
      {% for tag in recipe.tags.all %}
        <span class="badge" style="background-color: {{tag.colour}}; border-radius: 45%; white-space: nowrap;">
          {{tag.name}}
        </span>
      {% endfor %}
    </div>
    <div class="mt-auto d-flex flex-column flex-md-row justify-content-center gap-3">
    {% if recipe.user != user %}
      <form method="post" action="{% url 'toggle_favourite' recipe.id %}">
        {% csrf_token %}
        {% if user in recipe.favourites.all %}
        <input
          type="hidden"
          name="favourite_recipe"
          value="unfavourite_recipe"
        />
        <button type="submit" class="btn unfavourite-button w-auto" style="transform: translateY(8px);">
          Unfavourite <i class="bi bi-heartbreak-fill"></i>
        </button>
        {% else %}
        <button type="submit" class="btn favourite-button w-auto" style="transform: translateY(8px);">
          Favourite <i class="bi bi-heart"></i>
        </button>
        {% endif %}
      </form>

    {% endif %}

      {% if recipe.id %}
      <a href="{% url 'get_recipe' recipe.id %}" class="btn link-button w-auto mx-auto">
        Check it out
      </a>
      {% endif %}
    </div>
  </div>
</div>

