.form-control,
.select2-container--default .select2-selection--multiple {
    border-radius: 0.5rem;
    padding: 0.6rem;
}
.select2-container {
    width: 100% !important;
}
.form-switch .form-check-input {
    width: 3rem;          
    height: 1.6rem;      
    background-size: 1.2rem 1.2rem;
}
.form-check-input:checked {
    background-color: #28a745 !important; 
    border-color: #28a745 !important;
    transition: transform 0.2s ease;
}
.form-control:focus {
    border-color: #4444; 
    box-shadow: 0 0 0 0.2rem rgba(219, 221, 219, 0.822) !important;
}

.form-check-input:checked::before {
    background-color: #ccc;
}
.form-check-input:hover {
    border-color: #ccc !important;
    transform: scale(1.10);
}