.individual_recipe_card {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.individual_recipe_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.favourite-button,
.unfavourite-button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  font-size: 15px;
}

.favourite-button {
  background-color: #dae5ebf2;
}

.favourite-button:hover {
  transform: scale(1.05);
  background-color: rgb(225, 146, 190);
}

.unfavourite-button {
  background-color: #f7c1d1;
}

.unfavourite-button i {
  color: #ea78b6;
}

.unfavourite-button:hover {
  transform: scale(1.05);
  background-color: rgb(225, 146, 190);
}

.unfavourite-button:hover i {
  color: #ec466d;
}

.specific_recipe_card {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.star-rating {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}

.star-rating div {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2rem;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label i, .star-rating label i {
  color: #ccc;
}
.star-rating input:checked + label i,
.star-rating input:checked + label ~ label i {
  color: gold;
}

.star-rating label:hover i,
.star-rating label:hover ~ label i {
  color: gold;
}

.rating i {
  color: #ccc;
}

.rating .full {
  color: gold;
}

.rating .half {
  color: gold;
}

.recipe-image {
  height: 27vh;
  width: 100%;
  overflow: hidden;
  border-radius: 5%;
  object-fit: cover;
}

.specific-recipe-card-image {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.submit-button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  background-color: #b7e1f7f2;
  font-size: 13px;
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  background-color: #9ecee9f6;
}

.recipe-author{
  transition: transform 0.2s ease;
}

.recipe-author img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.recipe-author .delete-button {
  transition: transform 0.2s ease;
}

.recipe-author:hover {
  background-color: #cccccce1 !important;
  transform: scale(1.05);
}

.search-button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  color: rgb(240, 234, 234);
  background-color: darkolivegreen;
  align-self: center;
}

.search-button:hover {
  transform: scale(1.05);
  color: rgb(240, 234, 234);
}

.delete-button:hover {
  transform: scale(1.05);
}
.followers-exclusive-badge,
.favourite-badge,
.popular-badge,
.public-badge {
  color: rgb(149, 148, 148) !important;
  transition: transform 0.2s ease;
}
.favourite-badge {
  background: linear-gradient(145deg, #f0d6e6, #f0abc9);
}
.popular-badge {
  background: linear-gradient(145deg, #d3f4ef, #95eaed);
}
.public-badge {
  background: linear-gradient(145deg, #b4edc3, #79bd93);
}
.followers-exclusive-badge {
  background: linear-gradient(145deg, #feeabc, #f2d1b6);
}
.followers-exclusive-badge:hover,
.favourite-badge:hover,
.popular-badge:hover,
.public-badge:hover {
  transform: scale(1.1);
}


  .follow-button, .unfollow-button {
  border: none;
  border-radius: 20px;
  padding: 0.3rem 0.9rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  
}
.follow-button{
background-color: #dae5ebf2;
}
.unfollow-button{
  background-color: #cccccce1;
}
.follow-button:hover, .unfollow-button:hover{
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .individual_recipe_card {
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
  }
  .individual_recipe_card .card-body {
    padding: 1rem;
  }

  .individual_recipe_card .card-title {
    font-size: 16px;
  }

  .individual_recipe_card .card-text {
    font-size: 14px;
  }
  .favourite-button,
  .unfavourite-button,
  .submit-button {
    padding: 0.4rem 1rem;
    font-size: 13px;
  }
}
