.individual_recipe_card {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.individual_recipe_card .card-text{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;   
}

.individual_recipe_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.favourite-button,
.unfavourite-button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  font-size: 15px;
  transform: translateY(8px);
}

.favourite-button {
  background-color: #dae5ebf2;
}

.favourite-button:hover {
  transform: scale(1.05) translateY(8px);
  background-color: rgb(225, 146, 190);
}

.unfavourite-button {
  background-color: #f7c1d1;
}

.unfavourite-button i {
  color: #ea78b6;
}

.unfavourite-button:hover {
  transform: scale(1.05) translateY(8px);
  background-color: rgb(225, 146, 190);
}

.unfavourite-button:hover i {
  color: #ec466d;
}

.recipe-image {
  aspect-ratio: 4 / 3;
  width: 100%;
  overflow: hidden;
  border-radius: 5%;
  object-fit: cover;
}

.specific-recipe-card-image {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

a.submit-button, .submit-button {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  background-color: #b7e1f7f2;
}

a.submit-button:hover, .submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  background-color: #9ecee9f6;
}

.followers-exclusive-badge,
.favourite-badge,
.popular-badge,
.public-badge {
  color: rgb(149, 148, 148) !important;
  transition: transform 0.2s ease;
}

.favourite-badge {
  background: linear-gradient(145deg, #f0d6e6, #f0abc9);
}

.popular-badge {
  background: linear-gradient(145deg, #d3f4ef, #95eaed);
}

.public-badge {
  background: linear-gradient(145deg, #b4edc3, #79bd93);
}

.followers-exclusive-badge {
  background: linear-gradient(145deg, #fad59d, #f1c5d7);
}

.followers-exclusive-badge:hover,
.favourite-badge:hover,
.popular-badge:hover,
.public-badge:hover {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .individual_recipe_card {
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
  }
  .individual_recipe_card .card-body {
    padding: 1rem;
  }

  .individual_recipe_card .card-title {
    font-size: 16px;
  }

  .individual_recipe_card .card-text {
    font-size: 14px;
  }
  .favourite-button,
  .unfavourite-button,
  .submit-button {
    padding: 0.4rem 1rem;
    font-size: 13px;
  }
}

/* Make main columns stack vertically */
@media (max-width: 768px) {
  .specific_recipe_card .row {
    flex-direction: column;
  }
  .specific-recipe-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.public_badge{
  font-size:17px !important;
}

.tag-badge {
  background-color: var(--tag-colour) !important;
  color: white;
}