.specific_recipe_card {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: none;
}

.username{
  text-decoration: none; 
  color: inherit
}

.user-gravatar{
  width: 24px;
  height:24px;
}

.edit-button{
  background-color: rgb(42, 163, 249);
  color: white !important;
  text-decoration: none;
}

.edit-button:hover{
  text-decoration: none;
  background-color: rgb(28, 116, 205);
}

.rating i {
  color: #ccc;
}

.rating .full {
  color: gold;
}

.rating .half {
  color: gold;
}

.recipe-author{
  transition: transform 0.2s ease;
}

.recipe-author img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.delete-button {
  transition: transform 0.2s ease;
}

.recipe-author:hover {
  background-color: #cccccce1 !important;
  text-decoration: none !important;
  transform: scale(1.05);
}

.delete-button:hover {
  transform: scale(1.05);
}

a.quantity-button{
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  color: rgb(240, 234, 234) !important;
  background-color: darkolivegreen;
  align-self: center;
  transition: transform 0.2s ease;
}

.quantity-button.active{
  transform: scale(1.05);
  background-color: rgb(129, 161, 75);
}

a.quantity-button:hover{
    transform: scale(1.05)
}
.star-rating {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}

.star-rating div {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2rem;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label i, .star-rating label i {
  color: #ccc;
}
.star-rating input:checked + label i,
.star-rating input:checked + label ~ label i {
  color: gold;
}

.star-rating label:hover i,
.star-rating label:hover ~ label i {
  color: gold;
}

.comment-card{
    width:80%;
}

@media (max-width: 576px) {
  .container, .card {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  input.form-control {
    width: 100% !important;
  }

  .comment .d-flex {
    flex-direction: column !important;
  }

  .star-rating {
    flex-direction: column !important;
    align-items: flex-start;
  }

  .star-rating .d-flex {
    flex-wrap: wrap;
  }

  .badge {
    font-size: 0.8rem;
    padding: 4px 6px;
  }

  .quantity-button {
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
  }
}
