{% extends 'base_content.html' %} 
{% block content %}
{% load widget_tweaks %}
{{ form.media.css }}
<style>
  @media screen and (max-width: 768px) {
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

</style>
<div class="container px-3 px-md-0">
  <div class="row mb-3">
    <h1>Recipes</h1>
    <div class="row">
      <form
        action="{% url 'all_recipes' %}"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %} 

        <!--{% include 'partials/bootstrap_form.html' with form=form %}<!-->

        <div class="row mb-3">
          <div class="col-12">
          {% render_field form.search_field class="form-control" %}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            {% render_field form.tags class="form-control" %}
          </div>
          <div class="col-md-3">
            {% render_field form.ingredients class="form-control" %}
          </div>
          <div class="col-md-3">
            {% render_field form.order_by class="form-control" %}
          </div>
        </div>

        <div class="d-flex mb-3 gap-2 mt-2">
          <input type="submit" value="Search" class="btn search-button"/>
        </div>
      </form>
    </div>
    <p class="mb-1">{{recipe_list|length}} recipes</p>
    {% if recipe_list|length == 0 %}
    <p class = "mb-2">No recipes yet, come back later or create one yourself!</p>
    {% endif %}
    <div
      class="row row-cols-sm-1 row-cols-md-4 g-3 recipe-list mt-0"
      ref="recipeGrid"
    >
      {% for recipe in recipe_list %}
      <div class="col-md-4 mb-2">
        {% include "partials/recipe_card.html" with recipe=recipe showBadge=False %}
      </div>
      {% endfor %}
    </div>
    {% include "partials/paginator.html" with page_obj=page_obj %}
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{form.media.js}}
{% endblock %}
