{% extends 'base_content.html' %}
{% block content %}
{{ form.media.css }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Browse Recipes</h1>
    </div>
  </div>

  <div class="row">
    <form action="{% url 'browse_recipes' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="hidden" name="form_type" value="search_form">
          <input type="submit" value="Search" class="btn btn-primary">
      </form>
  </div>

  <div class="row">
    
    {% for recipe in recipe_list %}
      <div class="col-4">
        {% include "partials/recipe_card.html" with recipe=recipe %}
      </div>

    {% endfor %}

  </div>

  <div class="row-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Favourite ID</th>
          <th scope="col">Username</th>
          <th scope="col">Recipe Title</th>
        </tr>
      </thead>
      <tbody>
        {% for favourite in user_favourite_objects %}
          <tr>
            <th scope="row">{{favourite.pk}}</th>
            <td>{{favourite.user}}</td>
            <td>{{favourite.recipe}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}
<!--style="display:inline;"-->