{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Browse Recipes</h1>
    </div>
  </div>

  <div class="row">
    <form action="{% url 'browse_recipes' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="search_form">
        
          <input type="text" name="search_field" placeholder="Enter your search here...">
          <input type="submit" value="Search" class="btn btn-primary">
      </form>
  </div>

  <div class="row">
    
    {% for recipe in recipe_list %}

      <div class="card" style="width: 18rem;">
        <!--img src="..." class="card-img-top" alt="..."-->
          <div class="card-body">
            <h5 class="card-title">{{recipe.title}}</h5>
            <p class="card-text">{{recipe.description}}</p>
            <a href="" class="btn btn-primary">See More</a>
        </div>
        <div> 

          <form action="{% url 'browse_recipes' %}" method="post">
            {% csrf_token %}
                <input type="hidden" name="form_type" value="favourite_form">
                <input type="hidden" name="recipe_clicked" value= '{{ recipe.pk }}'>
                <input type="hidden" name="search_val" value= "{{ search_val }}">

              {% if recipe.pk in user_favourited_recipe_ids %}
                  <input type="hidden" name="favourite_recipe" value= "unfavourite_recipe">
                  <button type="submit" class="btn btn-lg" >
                    <i class="bi bi-star-fill"></i>
                    <p style="display:inline;"> 
                        {% for key, value in single_recipe_favourites_count %}
                            {% if key == recipe.pk %}
                              {{value}}
                            {% endif%}
                        {% endfor %}
                    </p>
                      
              {% else %}
                  <input type="hidden" name="favourite_recipe" value="favourite_recipe">
                  <button type="submit" class="btn btn-lg"><i class="bi bi-star"></i>
                  <p style="display:inline;"> 
                        {% for key, value in single_recipe_favourites_count %}
                            {% if key == recipe.pk %}
                              {{value}}
                            {% endif%}
                        {% endfor %}
                    </p>
              {% endif %}
            
                  
          </form>
              
         </div>
      </div>

    {% endfor %}

  </div>

  <div class="row-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Favourite ID</th>
          <th scope="col">Username</th>
          <th scope="col">Recipe Title</th>
        </tr>
      </thead>
      <tbody>
        {% for favourite in user_favourite_objects %}
          <tr>
            <th scope="row">{{favourite.pk}}</th>
            <td>{{favourite.user}}</td>
            <td>{{favourite.recipe}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>
{% endblock %}
<!--style="display:inline;"-->