{% extends 'base_content.html' %}
{% block content %}
{{ form.media.css }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>Recipe Ingredient</h1>
<form method="post">
    {% csrf_token %}

    {{ formset.management_form }}
    <div id="formset-wrapper">
        {% for form in formset %}
        <div class="form-row">
            {{ form.recipe.id }}
            {{ form.as_table }}
        </div>
        {% endfor %}
    </div>

    <!-- The "empty" form template, hidden from view -->
    <div id="empty-form-template" style="display: none;">
        <div class="form-row">
            {{ formset.empty_form.as_table }}
            <button type="button" class="remove-form">Remove</button>
        </div>
    </div>

    <input type="submit" value="Submit changes">
</form>

{{ form.media.js }}
{% endblock %}