{% extends 'base_content.html' %}
{% block title %}

<h1>{{user.username}}'s Cupboard</h1>
{% endblock %}

{% block content %}
<div class="container">
<h2>Your Ingredients</h2>
<p><b>Ingredients</b>:</p>
    {% for ingredient in ingredients %}
      <tr>
        <li>
          {{ingredient}}
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </li>
      </tr>
    {% endfor %}

<p> -----------------------------------------------------------------------------</p>
<h4>Add new ingredient</h4>
<form method="post">
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Add Ingredient</button>
</form>
</div>
{% endblock %}