{% extends 'base_content.html' %} 
{% block content %}
<div class="container py-5">
  <div class="row text-center mb-3">
    <div class="col-12 mb-4">
      <h1>
        Welcome to your dashboard
        <span class="fst-italic">{{ user.username }}</span>
      </h1>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-12">
      <h2 class="h4 mb-3">MOST POPULAR RECIPES</h2>
      {% if rated_recipes|length == 0 %}
      <p class="text-muted">No rated recipes available. Check back later!</p>
      {% endif %}
      <div class="row">
        {% for recipe in rated_recipes %}
        <div class="col-md-3 d-flex">
          <div
            class="card recipe-card text-center flex-fill d-flex flex-column"
          >
            <img
              src="{{recipe.img.url}}"
              class="card-img-top recipe-image"
              alt="{{recipe.title}}"
            />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title" style="text-transform: uppercase">
                {{recipe.title}}
              </h5>
              <p class="card-text rating mb-2">
                {% for _ in recipe.full_stars %}
                <i class="bi bi-star-fill full"></i>
                {% endfor %} {% if recipe.half_star %}
                <i class="bi bi-star-half half"></i>
                {% endif %} {% for _ in recipe.empty_stars %}
                <i class="bi bi-star"></i>
                {% endfor %} {{recipe.average_rating}} / 5.0
                ({{recipe.rating_count}})
              </p>
              <a
                href="{% url 'get_recipe' recipe.id %}"
                class="btn link-button mt-auto"
                >Check it out</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-4 feature-item-container mt-1">
    <h2 class="h4 mb-0">FEATURES</h2>
    {% for feature in features %} 
    {% include "partials/feature.html" with title=feature.title icon=feature.icon description=feature.description link=feature.link %} 
    {% endfor %}
  </div>
</div>
{% endblock %}
