{% extends 'base_content.html' %} {% block content %}
<div class="container py-5">
  <div class="row text-center mb-3">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
      <p class="lead my-3 hero-text">
        Feel free to create your own recipe and find the perfect one based on
        your preferences
      </p>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <h2 class="h4 mb-3 fst-italic">The Most Popular Recipes</h2>
    <div class="row ml-0">
      <div class="col-md-3">
        <div class="card text-center">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button>Find out more</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button>Find out more</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button>Find out more</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <button>find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-4 feature-item-container">
    <div class="col-md-4 text-align-center d-flex">
      <div class="feature-item text-center p-4 flex-fill">
        <h2 class="h4 mb-3">Recipes</h2>
        <p>
          Find the perfect recipe based on your preferences, e.g. ingrdients
          available, cooking time
        </p>
        <button>Go here</button>
      </div>
    </div>
    <div class="col-md-4 text-align-center d-flex">
      <div class="feature-item text-center p-4 flex-fill">
        <h2 class="h4 mb-3">Create Recipe</h2>
        <p>Create and store your own recipe</p>
        <button>Go here</button>
      </div>
    </div>
    <div class="col-md-4 text-align-center d-flex">
      <div class="feature-item text-center p-4 flex-fill">
        <h2 class="h4 mb-3">Your Profile</h2>
        <p>Have a look at what recipes you have created!!</p>
        <button>Go here</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
