{% extends 'base_content.html' %} {% block content %}
<div class="container py-5">
  <div class="row text-center mb-3">
    <div class="col-12">
      <h1>
        Welcome to your dashboard
        <span class="fst-italic">{{ user.username }}</span>
      </h1>
      <p class="lead my-3 hero-text">
        Feel free to create your own recipe and find the perfect one based on
        your preferences
      </p>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-12">
      <h2 class="h4 mb-3 fst-italic">Most Popular Recipes</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card recipe-card text-center">
            <div class="card-body">
              <h5 class="card-title">Recipe Title</h5>
              <p class="card-text">
                Some quick example text to build on the recipe title and make up
                the bulk of the recipe's description. You can write a short note
                here about its flavor or ingredients.
              </p>
              <button class="link-button">Find out more</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card recipe-card text-center">
            <div class="card-body">
              <h5 class="card-title">Recipe Title</h5>
              <p class="card-text">
                Some quick example text to build on the recipe title and make up
                the bulk of the recipe's description. You can write a short note
                here about its flavor or ingredients.
              </p>
              <button class="link-button">Find out more</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card recipe-card text-center">
            <div class="card-body">
              <h5 class="card-title">Recipe Title</h5>
              <p class="card-text">
                Some quick example text to build on the recipe title and make up
                the bulk of the recipe's description. You can write a short note
                here about its flavor or ingredients.
              </p>
              <button class="link-button">Find out more</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card recipe-card text-center">
            <div class="card-body">
              <h5 class="card-title">Recipe Title</h5>
              <p class="card-text">
                Some quick example text to build on the recipe title and make up
                the bulk of the recipe's description. You can write a short note
                here about its flavor or ingredients.
              </p>
              <button class="link-button">Find out more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center g-4 feature-item-container">
    <div class="col-md-4 text-align-center d-flex">
      <div class="feature-item text-center p-4 flex-fill">
        <h2 class="h4 mb-3">All Recipes <i class="bi bi-bookmark-plus"></i></h2>
        <p>
          Find the perfect recipe based on your preferences, e.g. ingredients
          available, cooking time
        </p>
        <button class="link-button">Go here</button>
      </div>
    </div>
    <div class="col-md-4 text-align-center d-flex">
      <div class="feature-item text-center p-4 flex-fill">
        <h2 class="h4 mb-3">
          Create Your Recipe <i class="bi bi-file-earmark-text"></i>
        </h2>
        <p>Create and store your own recipe</p>
        <button class="link-button">Go here</button>
      </div>
    </div>
    <div class="col-md-4 text-align-center d-flex">
      <div class="feature-item text-center p-4 flex-fill">
        <h2 class="h4 mb-3">
          Your Profile <i class="bi bi-person-circle"></i>
        </h2>
        <p>Have a look at what recipes you have created!!</p>
        <button class="link-button">Go here</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
