{% extends 'base_content.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mb-3">
<!-- Render the form to edit a method step-->
<h2>Edit Method Step: {{ method_step.step_number }}. {{ method_step.method_text }}</h2>
<form action="{% url 'edit_method_step' recipe.pk method_step.pk %}"method="post" >
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
            {% endif %}

            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="submit-button ms-2">Save Changes</button>
</form>
<a href="{% url 'add_method' recipe.pk %}" class="link btn-sm"><button class="btn submit-button">Discard Changes and View Method</button></a>
</div>
{% endblock %}