{% extends 'base_content.html' %} 
{% block content %}
<style>
  .pfp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
</style>
<div class="container">
  <section class="mb-4 border-bottom border-1 border-dark">
    <div class="row align-items-center">
      <div class="col-auto">
        <img src="{{ user.gravatar }}" class="pfp" />
      </div>
      <div class="col">
        <h2 class="mb-2"><strong>{{ user.username}}</strong></h2>

        <div class = "d-flex gap-3 mb-1">
          <span> <span class = "fw-bold">{{recipes|length}} </span>recipes</span>
          {% if follower_count != 0 %}
          <a href="{% url 'followers_list' user.username %}" style="color: inherit;">
            <span class = "fw-bold"> {{ follower_count }}</span> followers
          </a>
          {% else %}
          <span><span class = "fw-bold"> {{ follower_count }}</span> followers</span>
          {% endif %}
          {% if following_count != 0 %}
          <a href="{% url 'following_list' user.username %}" style="color: inherit;">
            <span class = "fw-bold">{{ following_count }}</span> following
          </a>
          {% else %}
          <span><span class = "fw-bold"> {{ following_count }}</span> following</span>
          {% endif %}
        </div>

        {% if user != request.user %}
        <div class = "mt-3">
            {% if is_following %}
                <form method="post" action="{% url 'unfollow_user' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class = "unfollow-button"><i class = "bi bi-dash"></i>Unfollow</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'follow_user' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class = "follow-button"><i class = "bi bi-plus"></i>Follow</button>
                </form>
            {% endif %}
            </div>
        {% endif %}
        <p class = "rating mb-0">
          {% for _ in full_stars %}
          <i class="bi bi-star-fill full"></i>
          {% endfor %} {% if half_star %}
          <i class="bi bi-star-half half"></i>
          {% endif %} {% for _ in empty_stars %}
          <i class="bi bi-star"></i>
          {% endfor %}
        </p>
        {% if user.rating != 0 %}
        {{user.rating|floatformat:1}}/5 from {{ rating_count }} ratings
        {% else %}
        No ratings yet
        {% endif %}
      </div>
    </div>
    <div class="row mt-3">
      <p>{{ user.bio }}</p>
    </div>
  </section>
  {%if recipes|length == 0 %}
  <p class="text-muted">
    {% if user == request.user %} You haven't created any recipes yet. 
    {% else %}
    This user hasn't added any recipes yet.</p>
    {% endif %}
  {% else %}
  <section class="mb-5">
    <div
      class="row row-cols-sm-1 row-cols-md-4 g-3 recipe-list mt-0"
      ref="recipeGrid"
    >
      {% for recipe in recipes %}
      <div class="col-md-4">
        {% include "partials/recipe_card.html" with recipe=recipe showBadge=True%}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </section>
  {% if user == request.user %}
  <section class="mb-5">
    <h2>
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#favouritesCollapse"
        aria-expanded="false"
        aria-controls="favouritesCollapse"
      >
        Show Favourites
      </button>
    </h2>

    <div class="collapse mt-3" id="favouritesCollapse">
      {% if user.recipes_favourited.all %}
      <div class="row g-3">
        {% for recipe in user.recipes_favourited.all %}
        <div class="col-4">
          {% include "partials/recipe_card.html" with recipe=recipe showBadge=False%}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-muted">You haven’t favourited any recipes yet.</p>
      {% endif %}
    </div>
  </section>
  {% endif %}
</div>
{% endblock %}
