{% extends 'base_content.html' %}
{% block content %}
<div class = "container pb-4">

<h1 class = "text center mb-4">User search</h1>

<form method="get" class = "d-flex flex-column flex-sm-row mb-4">
    <input type="text" name="q" value="{{ query }}" placeholder="Search users" class = "form-control me-2">
    <button type="submit" class ='search-button mt-md-2'>Search</button>
</form>

{% if has_query %}
    <h2 class = "mb-3">Results</h2>
{% else %}
    <h2 class = "mb-3">Suggested users</h2>
{% endif %}

<ul class = "list-group">
    {% for user in top_users %}
        <li class="list-group-item d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class = "d-flex align-items-center mb-2 mb-md-0">
            <img src="{{ user.gravatar }}" class="pfp rounded-circle me-2" style="
                width: 30px;
                height: 30px;" />
            <a href="{% url 'user_profile' user.username %}" class = "fw-medium">
                {{ user.username }}
            </a>
            {% if user.follow_summary != "" %}
            <span class = "ms-2">- {{user.follow_summary}}</span>
            {% endif %}
            </div>
            {% if is_following %}
                <form method="post" action="{% url 'unfollow_user' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class = "unfollow-button mt-2 btn-sm mt-md-0"><i class = "bi bi-dash"></i>Unfollow</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'follow_user' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class = "follow-button mt-2 btn-sm  mt-md-0"><i class = "bi bi-plus"></i>Follow</button>
                </form>
            {% endif %}
    {% empty %}
        <li class="list-group-item">No users found.</li>
    {% endfor %}
  </ul>
{% endblock %}
